<div th:fragment="searchForm">
    <div class="container">
    <div style="border-bottom: 10px; border-color: black;">
        <a th:href="@{/manager}" style="margin: 20px 0; " class="btn"> <i class="fas fa-arrow-left"
                style="margin-right: 5px;"></i> Manager Home</a>
    </div>
</div>

    <!-- !!!!!!!!!!RAM!!!!!!!!!!!!!!!!!!! -->
    <div class="container" th:if="${type == 'RAM'}">
        <div class="row">
            <div class="col-sm-5 form-section">
                <form th:action="@{/manager/availability/RAM}" th:object="${ramDTO}" method="POST">
                    <div class="col-sm-5" style="max-width: 100%">
                        <h3>Enter Details:</h3>
                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="manufacturerName">Manufacturer</label>
                            <input type="text" class="form-control" th:field="*{manufacturerName}"
                                name="manufacturerName" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>

                        <div class="form-group">
                            <label for="memory">Memory</label>
                            <input type="number" class="form-control" th:field="*{memory}" name="memory" id="memory"
                                placeholder="GB">
                        </div>

                        <div class="form-group">
                            <label for="speed">Speed</label>
                            <input type="number" class="form-control" th:field="*{speed}" name="speed" id="speed"
                                placeholder="MHz">
                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{/manager/availability/RAM}" class="btn btn-secondary">Reset</a>

                    </div>
                </form>
            </div>




            <div class="col-sm-5">
                <h3>Available Components:</h3>

                <div th:if="${availableRAMs != null and not #lists.isEmpty(availableRAMs)}">
                    <div class="card" style="margin-top: 20px" th:each="component : ${availableRAMs}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px"
                                    th:src="@{${'/componentImages/' + component.imageName}}" th:alt="${component.name}">
                            </div>
                            <div class="col-sm-7 d-flex justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${component.name}"></h5>
                                    <h4>$ <span th:text="${component.price}"></span></h4>
                                    <p th:text="${component.quantity} + ' left!'"></p>
                                    <a href="" th:href="${component.officialSiteLink}" target="_blank"
                                        class="btn btn-secondary" style="margin-top: 2px; margin-bottom: 2px;"
                                        th:classappend="${component.officialSiteLink == null || component.officialSiteLink.isEmpty()} ? 'disabled-button' : ''">Visit
                                        Official Website</a>
                                    <br>
                                    <a href="#" th:href="@{/shop/viewcomponent/{id}(id=${component.id})}"
                                        class="btn btn-primary">View Component</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${availableRAMs == null or #lists.isEmpty(availableRAMs)}">
                    <p>No components found.</p>
                </div>
            </div>

        </div>
    </div>





    <!-- !!!!!!!!!!CPU!!!!!!!!!!!!!!!!!!! -->

    <div class="container" th:if="${type == 'CPU'}">
        <div class="row">
            <div class="col-sm-5 form-section">
                <form th:action="@{/manager/availability/CPU}" th:object="${cpuDTO}" method="POST">
                    <div class="col-sm-5" style="max-width: 100%">
                        <h3>Enter Details:</h3>
                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="manufacturerName">Manufacturer</label>
                            <input type="text" class="form-control" th:field="*{manufacturerName}"
                                name="manufacturerName" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>

                        <div class="form-group">
                            <label for="series">Series</label>
                            <input type="text" class="form-control" th:field="*{series}" name="series" id="series"
                                placeholder="Series">
                        </div>

                        <div class="form-group">
                            <label for="generation">Generation</label>
                            <input type="number" class="form-control" th:field="*{generation}" name="generation"
                                id="generation" placeholder="Generation">
                        </div>

                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" class="form-control" th:field="*{model}" name="model" id="model"
                                placeholder="Model">
                        </div>

                        <div class="form-group">
                            <label for="cores">Cores</label>
                            <input type="number" class="form-control" th:field="*{cores}" name="cores" id="cores"
                                placeholder="Cores">
                        </div>

                        <div class="form-group">
                            <label for="coreSpeed">Core Speed</label>
                            <input type="number" class="form-control" th:field="*{coreSpeed}" name="coreSpeed"
                                id="coreSpeed" placeholder="Core Speed" step="0.01">
                        </div>







                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{/manager/availability/CPU}" class="btn btn-secondary">Reset</a>

                    </div>
                </form>
            </div>




            <div class="col-sm-5">
                <h3>Available Components:</h3>

                <div th:if="${availableCPUs != null and not #lists.isEmpty(availableCPUs)}">
                    <div class="card" style="margin-top: 20px" th:each="component : ${availableCPUs}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px"
                                    th:src="@{${'/componentImages/' + component.imageName}}" th:alt="${component.name}">
                            </div>
                            <div class="col-sm-7 d-flex justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${component.name}"></h5>
                                    <h4>$ <span th:text="${component.price}"></span></h4>
                                    <p th:text="${component.quantity} + ' left!'"></p>
                                    <a href="" th:href="${component.officialSiteLink}" target="_blank"
                                        class="btn btn-secondary" style="margin-top: 2px; margin-bottom: 2px;"
                                        th:classappend="${component.officialSiteLink == null || component.officialSiteLink.isEmpty()} ? 'disabled-button' : ''">Visit
                                        Official Website</a>
                                    <br>
                                    <a href="#" th:href="@{/shop/viewcomponent/{id}(id=${component.id})}"
                                        class="btn btn-primary">View Component</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${availableCPUs == null or #lists.isEmpty(availableCPUs)}">
                    <p>No components found.</p>
                </div>
            </div>

        </div>
    </div>





    <!-- !!!!!!!!!!PSU!!!!!!!!!!!!!!!!!!! -->
    <div class="container" th:if="${type == 'PSU'}">
        <div class="row">
            <div class="col-sm-5 form-section">
                <form th:action="@{/manager/availability/PSU}" th:object="${psuDTO}" method="POST">
                    <div class="col-sm-5" style="max-width: 100%">
                        <h3>Enter Details:</h3>
                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="manufacturerName">Manufacturer</label>
                            <input type="text" class="form-control" th:field="*{manufacturerName}"
                                name="manufacturerName" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>

                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" th:field="*{type}" name="type" id="type"
                                placeholder="type">
                        </div>

                        <div class="form-group">
                            <label for="powerSupply">Power Supply</label>
                            <input type="number" class="form-control" th:field="*{powerSupply}" name="powerSupply"
                                id="powerSupply" placeholder="Power Supply">
                        </div>








                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{/manager/availability/PSU}" class="btn btn-secondary">Reset</a>

                    </div>
                </form>
            </div>




            <div class="col-sm-5">
                <h3>Available Components:</h3>

                <div th:if="${availablePSUs != null and not #lists.isEmpty(availablePSUs)}">
                    <div class="card" style="margin-top: 20px" th:each="component : ${availablePSUs}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px"
                                    th:src="@{${'/componentImages/' + component.imageName}}" th:alt="${component.name}">
                            </div>
                            <div class="col-sm-7 d-flex justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${component.name}"></h5>
                                    <h4>$ <span th:text="${component.price}"></span></h4>
                                    <p th:text="${component.quantity} + ' left!'"></p>
                                    <a href="" th:href="${component.officialSiteLink}" target="_blank"
                                        class="btn btn-secondary" style="margin-top: 2px; margin-bottom: 2px;"
                                        th:classappend="${component.officialSiteLink == null || component.officialSiteLink.isEmpty()} ? 'disabled-button' : ''">Visit
                                        Official Website</a>
                                    <br>
                                    <a href="#" th:href="@{/shop/viewcomponent/{id}(id=${component.id})}"
                                        class="btn btn-primary">View Component</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${availablePSUs == null or #lists.isEmpty(availablePSUs)}">
                    <p>No components found.</p>
                </div>
            </div>

        </div>
    </div>




    <!-- !!!!!!!!!!Motherboard!!!!!!!!!!!!!!!!!!! -->
    <div class="container" th:if="${type == 'Motherboard'}">
        <div class="row">
            <div class="col-sm-5 form-section">
                <form th:action="@{/manager/availability/Motherboard}" th:object="${motherboardDTO}" method="POST">
                    <div class="col-sm-5" style="max-width: 100%">
                        <h3>Enter Details:</h3>
                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="manufacturerName">Manufacturer</label>
                            <input type="text" class="form-control" th:field="*{manufacturerName}"
                                name="manufacturerName" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>

                        <div class="form-group">
                            <label for="socket">Socket</label>
                            <input type="text" class="form-control" th:field="*{socket}" name="socket" id="socket"
                                placeholder="Eg. LGA1200">
                        </div>
                        <div class="form-group">
                            <label for="formFactor">Form Factor</label>
                            <input type="text" class="form-control" th:field="*{formFactor}" name="formFactor"
                                id="formFactor" placeholder="Eg. ATX">
                        </div>
                        <div class="form-group">
                            <label for="memorySlots">Memory Slots</label>
                            <input type="number" class="form-control" th:field="*{memorySlots}" name="memorySlots"
                                id="memorySlots" placeholder="Eg. 4">
                        </div>

                        <div class="form-group">
                            <label for="maxMemory">Max Memory</label>
                            <input type="number" class="form-control" th:field="*{maxMemory}" name="maxMemory"
                                id="maxMemory" placeholder="Eg. 128">
                        </div>









                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{/manager/availability/Motherboard}" class="btn btn-secondary">Reset</a>

                    </div>
                </form>
            </div>




            <div class="col-sm-5">
                <h3>Available Components:</h3>

                <div th:if="${availableMotherboards != null and not #lists.isEmpty(availableMotherboards)}">
                    <div class="card" style="margin-top: 20px" th:each="component : ${availableMotherboards}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px"
                                    th:src="@{${'/componentImages/' + component.imageName}}" th:alt="${component.name}">
                            </div>
                            <div class="col-sm-7 d-flex justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${component.name}"></h5>
                                    <h4>$ <span th:text="${component.price}"></span></h4>
                                    <p th:text="${component.quantity} + ' left!'"></p>
                                    <a href="" th:href="${component.officialSiteLink}" target="_blank"
                                        class="btn btn-secondary" style="margin-top: 2px; margin-bottom: 2px;"
                                        th:classappend="${component.officialSiteLink == null || component.officialSiteLink.isEmpty()} ? 'disabled-button' : ''">Visit
                                        Official Website</a>
                                    <br>
                                    <a href="#" th:href="@{/shop/viewcomponent/{id}(id=${component.id})}"
                                        class="btn btn-primary">View Component</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${availableMotherboards == null or #lists.isEmpty(availableMotherboards)}">
                    <p>No components found.</p>
                </div>
            </div>

        </div>
    </div>





    <!-- !!!!!!!!!!Storage!!!!!!!!!!!!!!!!!!! -->
    <div class="container" th:if="${type == 'Storage'}">
        <div class="row">
            <div class="col-sm-5 form-section">
                <form th:action="@{/manager/availability/Storage}" th:object="${storageDTO}" method="POST">
                    <div class="col-sm-5" style="max-width: 100%">
                        <h3>Enter Details:</h3>
                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="manufacturerName">Manufacturer</label>
                            <input type="text" class="form-control" th:field="*{manufacturerName}"
                                name="manufacturerName" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>

                        <div class="form-group">
                            <label for="capacity">Capacity</label>
                            <input type="number" class="form-control" th:field="*{capacity}" name="capacity"
                                id="capacity" placeholder="Eg. 500">
                        </div>

                        <div class="form-group">
                            <label for="cache">Cache</label>
                            <input type="number" class="form-control" th:field="*{cache}" name="cache" id="cache"
                                placeholder="Eg. 64">
                        </div>

                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" th:field="*{type}" name="type" id="type"
                                placeholder="Eg. SSD">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{/manager/availability/Storage}" class="btn btn-secondary">Reset</a>
                    </div>
                </form>
            </div>
            <div class="col-sm-5">
                <h3>Available Components:</h3>

                <div th:if="${availableStorages != null and not #lists.isEmpty(availableStorages)}">
                    <div class="card" style="margin-top: 20px" th:each="component : ${availableStorages}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px"
                                    th:src="@{${'/componentImages/' + component.imageName}}" th:alt="${component.name}">
                            </div>
                            <div class="col-sm-7 d-flex justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${component.name}"></h5>
                                    <h4>$ <span th:text="${component.price}"></span></h4>
                                    <p th:text="${component.quantity} + ' left!'"></p>
                                    <a href="" th:href="${component.officialSiteLink}" target="_blank"
                                        class="btn btn-secondary" style="margin-top: 2px; margin-bottom: 2px;"
                                        th:classappend="${component.officialSiteLink == null ||
                                        component.officialSiteLink.isEmpty()} ? 'disabled-button' : ''">Visit
                                        Official Website</a>
                                    <br>
                                    <a href="#" th:href="@{/shop/viewcomponent/{id}(id=${component.id})}"
                                        class="btn btn-primary">View Component</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${availableStorages == null or #lists.isEmpty(availableStorages)}">
                    <p>No components found.</p>
                </div>
            </div>

        </div>
    </div>




    <!-- !!!!!!!!!!GPU!!!!!!!!!!!!!!!!!!! -->


    <div class="container" th:if="${type == 'GPU'}">
        <div class="row">
            <div class="col-sm-5 form-section">
                <form th:action="@{/manager/availability/GPU}" th:object="${gpuDTO}" method="POST">
                    <div class="col-sm-5" style="max-width: 100%">
                        <h3>Enter Details:</h3>
                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="manufacturerName">Manufacturer</label>
                            <input type="text" class="form-control" th:field="*{manufacturerName}"
                                name="manufacturerName" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>

                        <div class="form-group">
                            <label for="chipset">Chipset</label>
                            <input type="text" class="form-control" th:field="*{chipset}" name="chipset" id="chipset"
                                placeholder="Chipset">
                        </div>

                        <div class="form-group">
                            <label for="memory">Memory</label>
                            <input type="number" class="form-control" th:field="*{memory}" name="memory" id="memory"
                                placeholder="Memory">
                        </div>

                        <div class="form-group">
                            <label for="coreSpeed">Core Speed</label>
                            <input type="number" class="form-control" th:field="*{coreSpeed}" name="coreSpeed"
                                id="coreSpeed" placeholder="Core Speed">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{/manager/availability/GPU}" class="btn btn-secondary">Reset</a>
                    </div>
                </form>
            </div>

            <div class="col-sm-5">
                <h3>Available Components:</h3>

                <div th:if="${availableGPUs != null and not #lists.isEmpty(availableGPUs)}">
                    <div class="card" style="margin-top: 20px" th:each="component : ${availableGPUs}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px"
                                    th:src="@{${'/componentImages/' + component.imageName}}" th:alt="${component.name}">
                            </div>
                            <div class="col-sm-7 d-flex justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${component.name}"></h5>
                                    <h4>$ <span th:text="${component.price}"></span></h4>
                                    <p th:text="${component.quantity} + ' left!'"></p>
                                    <a href="" th:href="${component.officialSiteLink}" target="_blank"
                                        class="btn btn-secondary" style="margin-top: 2px; margin-bottom: 2px;"
                                        th:classappend="${component.officialSiteLink == null || component.officialSiteLink.isEmpty()} ? 'disabled-button' : ''">
                                        Visit Official Website</a>
                                    <br>
                                    <a href="#" th:href="@{/shop/viewcomponent/{id}(id=${component.id})}"
                                        class="btn btn-primary">View Component</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${availableGPUs == null or #lists.isEmpty(availableGPUs)}">
                    <p>No components found.</p>
                </div>
            </div>

        </div>
    </div>



    <!-- !!!!!!!!!!BuildCase!!!!!!!!!!!!!!!!!!! -->

    <div class="container" th:if="${type == 'BuildCase'}">
        <div class="row">
            <div class="col-sm-5 form-section">
                <form th:action="@{/manager/availability/BuildCase}" th:object="${buildCaseDTO}" method="POST">
                    <div class="col-sm-5" style="max-width: 100%">
                        <h3>Enter Details:</h3>
                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="manufacturerName">Manufacturer</label>
                            <input type="text" class="form-control" th:field="*{manufacturerName}"
                                name="manufacturerName" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>

                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" required th:field="*{type}" name="type"
                                id="type" placeholder="Eg. Mini ITX">
                        </div>
    
                        <div class="form-group">
                            <label for="panel">Panel</label>
                            <input type="text"  class="form-control" required th:field="*{panel}"
                                name="panel" id="panel" placeholder="Eg. Glass">
                        </div>
    
                        <div class="form-group">
                            <label for="colour">Colour</label>
                            <input type="text"  class="form-control" required th:field="*{colour}"
                                name="colour" id="colour" placeholder="Eg. Black">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{/manager/availability/BuildCase}" class="btn btn-secondary">Reset</a>
                    </div>
                </form>
            </div>

            <div class="col-sm-5">
                <h3>Available Components:</h3>

                <div th:if="${availableBuildCases != null and not #lists.isEmpty(availableBuildCases)}">
                    <div class="card" style="margin-top: 20px" th:each="component : ${availableBuildCases}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px"
                                    th:src="@{${'/componentImages/' + component.imageName}}" th:alt="${component.name}">
                            </div>
                            <div class="col-sm-7 d-flex justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${component.name}"></h5>
                                    <h4>$ <span th:text="${component.price}"></span></h4>
                                    <p th:text="${component.quantity} + ' left!'"></p>
                                    <a href="" th:href="${component.officialSiteLink}" target="_blank"
                                        class="btn btn-secondary" style="margin-top: 2px; margin-bottom: 2px;"
                                        th:classappend="${component.officialSiteLink == null || component.officialSiteLink.isEmpty()} ? 'disabled-button' : ''">
                                        Visit Official Website</a>
                                    <br>
                                    <a href="#" th:href="@{/shop/viewcomponent/{id}(id=${component.id})}"
                                        class="btn btn-primary">View Component</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${availableBuildCases == null or #lists.isEmpty(availableBuildCases)}">
                    <p>No components found.</p>
                </div>
            </div>

        </div>
    </div>



    <!-- !!!!!!!!!!Cooler!!!!!!!!!!!!!!!!!!! -->

    <div class="container" th:if="${type == 'Cooler'}">
        <div class="row">
            <div class="col-sm-5 form-section">
                <form th:action="@{/manager/availability/Cooler}" th:object="${coolerDTO}" method="POST">
                    <div class="col-sm-5" style="max-width: 100%">
                        <h3>Enter Details:</h3>
                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" th:field="*{name}" name="name" id="name"
                                placeholder="Enter name">
                        </div>

                        <div class="form-group">
                            <label for="manufacturerName">Manufacturer</label>
                            <input type="text" class="form-control" th:field="*{manufacturerName}"
                                name="manufacturerName" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>

                        <div class="form-group">
                            <label for="fanRPM">Fan RPM</label>
                            <input type="number" class="form-control" required th:field="*{fanRPM}" name="fanRPM"
                                id="fanRPM" placeholder="Eg. 1200">
                        </div>
    
                        <div class="form-group">
                            <label for="minNoiseLevel">Min Noise Level</label>
                            <input type="number" step="0.01" class="form-control" required th:field="*{minNoiseLevel}"
                                name="minNoiseLevel" id="minNoiseLevel" placeholder="Eg. 20">
                        </div>
    
                        <div class="form-group">
                            <label for="maxNoiseLevel">Max Noise Level</label>
                            <input type="number" step="0.01" class="form-control" required th:field="*{maxNoiseLevel}"
                                name="maxNoiseLevel" id="maxNoiseLevel" placeholder="Eg. 40">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a th:href="@{/manager/availability/Cooler}" class="btn btn-secondary">Reset</a>
                    </div>
                </form>
            </div>

            <div class="col-sm-5">
                <h3>Available Components:</h3>

                <div th:if="${availableCoolers != null and not #lists.isEmpty(availableCoolers)}">
                    <div class="card" style="margin-top: 20px" th:each="component : ${availableCoolers}">
                        <div class="row no-gutters">
                            <div class="col-sm-5 d-flex justify-content-center">
                                <img class="" height="150px" width="150px"
                                    th:src="@{${'/componentImages/' + component.imageName}}" th:alt="${component.name}">
                            </div>
                            <div class="col-sm-7 d-flex justify-content-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${component.name}"></h5>
                                    <h4>$ <span th:text="${component.price}"></span></h4>
                                    <p th:text="${component.quantity} + ' left!'"></p>
                                    <a href="" th:href="${component.officialSiteLink}" target="_blank"
                                        class="btn btn-secondary" style="margin-top: 2px; margin-bottom: 2px;"
                                        th:classappend="${component.officialSiteLink == null || component.officialSiteLink.isEmpty()} ? 'disabled-button' : ''">
                                        Visit Official Website</a>
                                    <br>
                                    <a href="#" th:href="@{/shop/viewcomponent/{id}(id=${component.id})}"
                                        class="btn btn-primary">View Component</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${availableCoolers == null or #lists.isEmpty(availableCoolers)}">
                    <p>No components found.</p>
                </div>
            </div>

        </div>
    </div>










</div>



</div>